<div class="pokemon-api">
  <div class="grid">
    <div class="col">
      <div class="grid">
        <div class="col">
          <p-card
            [header]="pokemon.species.name"
            subheader="Types"
            [style]="{ width: '360px' }"
            styleClass="ui-card-shadow"
          >
            <p-header>
              <img
                [src]="pokemon.sprites.front_default"
                width="300"
                height="200"
              />
            </p-header>
            <div class="grid">
              <div class="col-6" *ngFor="let type of types">
                {{ type.type.name }}
              </div>
            </div>
          </p-card>
        </div>
        <div class="col">
          <p-orderList
            [value]="stats"
            [listStyle]="{ height: '250px' }"
            header="Stats"
          >
            <ng-template let-stat pTemplate="item">
              <div class="ui-helper-clearfix">
                <div>{{ stat.stat.name }} {{ stat.base_stat }}</div>
              </div>
            </ng-template>
          </p-orderList>
        </div>
        <br />
        <div class="col">
          <p-orderList
            [value]="moves"
            [listStyle]="{ height: '250px' }"
            header="Moves"
          >
            <ng-template let-move pTemplate="item">
              <div class="ui-helper-clearfix">
                <div>
                  {{ move.move.name }}
                </div>
              </div>
            </ng-template>
          </p-orderList>
        </div>
      </div>

      <p-button (click)="goBack()" label="Go back"></p-button>
    </div>
  </div>
</div>
