<div class="pokemon-api">
<div class="grid">
  <div class="col">
    <div class="grid">
      <div class="col-4">
        <img
          [src]="pokemon.sprites.front_default"
          width="300"
          height="200"
        />
      </div>
      <div class="col-4">
        <div class="grid">
          <h1>Stats:</h1>
          <div *ngFor="let stat of pokemon.stats" class="col-12">
            <p>
              {{ stat.stat.name }} <br />
              {{ stat.base_stat }}
            </p>
          </div>
        </div>
      </div>
      <br />
      <div class="col-4">
        <h1>Types:</h1>
        <!-- <p-listbox [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [style]="{'width':'15rem'}"></p-listbox> -->
        <div *ngFor="let type of pokemon.types" class="col-3">
          <p>{{ type.type.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <h1>Moves:</h1>
    <div *ngFor="let move of pokemon.moves" class="col-3">
      <p>{{ move.move.name }}</p>
    </div>
  </div>

  <p-button (click)="goBack()" label="Go back"></p-button>
</div>
</div>
