<div>
  <input type="text" [(ngModel)]="inputValue" (keyup.enter)="search()">
  <button pButton label="Add" (click)="goToAdd()" class="p-button-raised"></button>
</div>

  <table>
    <tr>
      <th *ngFor="let header of headers">
        {{ header }}
      </th>
    </tr>

     <tr *ngFor="let pokemon of entities">
      <td *ngFor="let key of keys">
        {{ pokemon[key] }}
      </td>
      <td>
        <button pButton label="Edit" (click)="editEntity(pokemon.id)" class="p-button-raised"></button>
        <button pButton label="Delete" (click)="onDeleteEntity(pokemon.id)" class="p-button-raised"></button>
      </td>
    </tr>
  </table>
